@media(max-width:1000px) {
    .banner {
        height: fit-content;
        padding-top: 20px;
    }

    .banner-l {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .banner-l div {
        text-align: center;
        width: 120px;
        height: 120px;
    }
}

@media(max-width:750px) {
    .benef-texto{
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr ;
        justify-items: center;
    }
    .benef-texto div{
        width: 65%;
    }
    #mapa2 {
        display: flex;
    }
}

@media(max-width:425px) {
    .banner-l div {
        width: 80px;
        height: 80px;
    }
}

@media(max-width:800px){
    nav button{
        display: flex;
    }
    nav a{
        display: none;
    }
}