@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in-out;
}
html {
    scroll-behavior: smooth;
    
  }
  main{
    background: linear-gradient(180deg, #FFFCFC 0%, #D9D4D4 100%);
  }

header picture img {
    width: 80px;
    padding-left: 10px;
}

header {
    background: linear-gradient(180deg, #302834 0%, #19191E 100%);
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
nav a{
    padding: 10px 10px;
    position: relative;
    color: white;
    text-decoration: none;
}
nav a::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
nav a:hover::after{
    width: 100%;
}

#tema {
    background-color: transparent !important;
    border: none;
    outline: none;
    appearance: none;
}

#labeltema {
    position: relative;
}

header div label span div {
    margin-top: 15px;
    margin-right: 10px;
    display: flex;
    align-items: end;
    width: 28px;
    padding-right: 10px;
    fill: rgb(215, 212, 212);
    filter: drop-shadow(0px 0px 10.44px #FFFFFF)
}

.sol-e-lua {
    width: 28px;
    height: 28px;
    background-image: url(../img/moon-solid.png);
    background-repeat: no-repeat;
}
#labeltema span div {
    transform: rotateX(0deg);
    transition: all 0.2s;
}

#labeltema:has(+ #tema:checked) span div {
    transform: rotateX(180deg);
    background-image: url(../img/sun-solid.png);
    filter: drop-shadow(0px 0px 10.44px #E5E76E)
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 15vh);
}

.banner-l{
    gap: 20px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
    width: 80%;
    height: fit-content;
    background-color: #fff;
    border: 3px solid #000000;
    box-shadow: 24px 20px 10px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}
.banner-l div{
    width: 140px;
    height: 140px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.226) !important;
    border-radius: 100%;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-l div:hover{
    scale: 1.3;
    .amarelo{
        color: rgb(255, 196, 0);
        font-weight: 900;
    }
    .laranja{
        color: rgb(255, 115, 0);
        font-weight: 900;
    }
    .verde{
        color: rgb(10, 192, 35);
        font-weight: 900;
    }
    .azul{
        color: rgb(14, 102, 216);
        font-weight: 900;
    }
}
.banner-l div img {
    width: 80%;
}

.noite .banner-l {
    background: linear-gradient(180deg, #302834 0%, #19191E 100%);
    border: 3px solid #fff;
    box-shadow: 24px 20px 10px rgba(95, 95, 95, 0.25);
}
.noite .banner-l div{
    background-color: rgba(255, 255, 255, 0.226) !important;
}
.noite p, .noite h1{
    color: white;
}

.noite main{
    background-image: linear-gradient(180deg, #130e17 0%, #202021 100%);
}

#um{
    padding-top:10000px;
}

.divtitulo{
    padding-top: 20px;
    font-size: 2em;
    text-align: center;
}
#divtexto{
    display: block;
    margin: 0 auto;
    align-items: center;
    padding-top: 20px;
    text-align: center;
    font-size: 1.5em;
    width: 70%;
    padding-bottom: 20px;
}
a{
    font-weight: 600;
}
.noite .mapatexto{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.mapatexto{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#divtexto p{
    font-weight: 700;
}
  * {
    scrollbar-width: auto;
    scrollbar-color: linear-gradient(180deg, #302834 0%, #19191E 100%);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background:linear-gradient(180deg, #302834 0%, #19191E 100%);
  }

  *::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #FFFCFC 0%, #D9D4D4 100%);
    border-radius: 10px;
    border: 3px solid  #19191E;
  }
  .mapa-bgi{
    padding-top: 50px;
    padding-bottom:  50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .mapatexto{
    font-size: 2em;
  }
#mapa2{
    display: none;
}
.criterios-inpi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D9D4D4;
    height: 101%;
}
.titulo-criterios{
    text-align: center;
    font-size: 3em;
}
.criterios{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    width: 70%;
}
.svg-cima{
    transform:rotateX(180deg);
}
.divsvg{
    margin-bottom: -5px;
}
.noite .divsvg path{
    fill: #302834;
}
.noite .criterios-inpi{
    background-color: #302834;
    color: white;
}